* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.VanillaTerm ::selection {
  background-color: #0080ff;
  text-shadow: none !important;
}

.VanillaTerm .container {
  background-color: #222222;
  color: white;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-weight: bold;
  overflow: hidden;
  padding: 1em;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

  .VanillaTerm output {
    clear: both;
    width: 100%;
  }
    .VanillaTerm output pre {
      margin: 0;
    }

    .VanillaTerm output span {
      display: block;
      font-weight: normal;
      opacity: 0.75;
    }

  .VanillaTerm .prompt {
    color: #F3E5AB;
    justify-content: center;
    margin-right: 0.5em;
    white-space: nowrap;
  }

  .VanillaTerm .input {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;
  }
