* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.VanillaTerm {
  background-color: #222222;
  color: white;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-weight: bold;
  overflow: hidden;
  padding: 0.75em 1em;
}

  .VanillaTerm .container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
    .VanillaTerm .container ::selection {
      background-color: #f3e5ab;
      text-shadow: none !important;
    }

    .VanillaTerm output {
      clear: both;
      line-height: 1.25em;
      width: 100%;
    }
      .VanillaTerm output pre {
        margin: 0;
      }
      .VanillaTerm output span {
        display: block;
        font-weight: normal;
        color: #dddddd;
      }

    .VanillaTerm .prompt, .VanillaTerm a {
      color: #f3e5ab;
      font-weight: bold;
    }

    .VanillaTerm .prompt {
      line-height: 1.25em;
      margin-right: 0.5em;
    }

    .VanillaTerm .command {
      display: flex;
    }

      .VanillaTerm .command.input .prompt {
        color: white;
        font-weight: normal;
      }

      .VanillaTerm .command.hidden .prompt {
        display: none;
      }

      .VanillaTerm .command.hidden .input {
        max-width: 1px;
      }

      .VanillaTerm .command .input {
        background-color: transparent;
        border: none;
        color: inherit;
        font: inherit;
        flex: 1;
        margin: 0;
        outline: none;
        padding: 0;
      }
